<h4 class="image-title">{{ project.title }}</h4>
                            <ul id="comms-icons">
                                <li><img ng-if="project.comms" src="img/comms_c.png"/></li><!--
                                --><li><img ng-if="project.animation" src="img/comms_m.png"/></li><!--
                                --><li><img ng-if="project.visualArts" src="img/comms_v.png"/></li><!--
                                --><li><img ng-if="project.drama" src="img/comms_d.png"/></li><!--
                                --><li><img ng-if="project.tma" src="img/comms_t.png"/></li>
                            </ul>